<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyDiplom</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyDiplom.styles.css" asp-append-version="true" />
</head>
<body>
  
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-column">
                <h3>Контакты</h3>
                <ul>
                <li><a href="#">Казань</a></li>
                <li><a href="#">children@hello.com</a></li>
                <li><a href="Телефон:+791765456732"></a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>О нас</h3>
                <ul>
                    <li><a href="#">Главная</a></li>
                    
                </ul>
            </div>
            <div class="footer-column">
                <h3>Социальные сети</h3>
                <ul>
                    <li><a href="#">VK</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">WhatsApp</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
