<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
   
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>
        <h2>ПОЛЬЗОВАТЕЛЬ НЕ НАЙДЕН</h2>
      
    </div>
</body>
</html>